*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 10px solid grey;
    background-color: grey;
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 80px;
}
header h1 {

}
header > input {
    width: 10vw;
    height: 5vh;
    text-align: center;
}

li{
    list-style: none;
    color: cyan;
}