
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.telelistas.net/img/home_3.b0843c12.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 50%;
}

.caixa-amarela {
    border: 2px solid #FCBA03;
    background-color: #FCBA03;
    height: 5vh;
    width: 100vw;
    display: flex;
}

.caixa-preta {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    height: 5vh;
    width: 100vw;
    display: flex;
}

h1 {
    color: aliceblue;
    padding-left: 100px;
    padding-top: 3px;
}

ul {
    list-style: none;
}

#menu-superior > ul > li {
    float: left;
    margin-left: 10px;
    color: white;
    padding-top: 10px;
}

img {
    background-size: cover;
}

#menu-direita {
    position: absolute;
    right: 1vw;
}

.busca {
    padding-top: 25px;
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    height: 50%;
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container > p {
    color: #FFF;
    font-size: 21px;
}

.busca > input {
    width: 32vw;
    padding: 10px 20px;
    margin: 0 5px;
}

.busca > img {
    width: 30px;
}

#color {
    color: #FCBA03
}

