* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
}
.linha1 {
    width: 100vw;
    height:25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linha2 {
    width: 100vw;
    height:25vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.linha3 {
    width: 100vw;
    height:25vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.bola {
    background-image: linear-gradient(rgb(255, 0, 123), rgb(242, 255, 0), rgb(0, 149, 255));
    border-radius: 75px;
    width: 100px;
    height: 100px;    
}

.linha4 {
    width: 100vw;
    height:25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
